@use "../../node_modules/govuk-frontend/dist/govuk/index.scss" as * with (
  $govuk-assets-path: "/lap-blueprint/assets/",
  $govuk-font-family: (Arial, sans-serif)
);

:root {
  --govuk-brand-colour: #{govuk-organisation-colour("department-for-environment-food-rural-affairs")};
  
}
body.dev {
  --govuk-brand-colour: red;
}

.govuk-header__defra-logo {
  width: auto;
  max-width: 100%;
  height: 80px;
}

.lap-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.lap-header-search {
  width: 100%;
  max-width: 420px;
}